/** Medium Screen **/
@media only screen and (min-width: 700px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .todo {
        width: 22rem;
        margin-left: 0;
        align-self: flex-end;
    }

    .alltodos > ul {
        width: 5rem;
    }

    .alltodos > ul li {
        width: 18rem;
    }

    fieldset {
        height: 19rem;
        background-color: rgb(223, 223, 223);
    }

    header, .clockContainer {
        width: calc(50vw - 1rem);
        height: 4rem;
    }

    legend, h3 {
        width: 20rem;
    }

    /* CALENDAR */
    .calendar {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: calc(100vw - 22rem);
    }

    .month {
        height: 3.5rem;
        display: flex;
        align-items: center;
        margin-left: -22rem;
        background: red;
    }

    .weekdays {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(7, 1fr);
        height: 3.5rem;
        background-color: rgb(223, 223, 223);
        font-size: .7rem;
        margin-top: -3.5rem;
    }

    .days {
        display: grid;
        height: calc(100vh - 8.5rem);
        background-color: rgb(255, 255, 255);
        grid-template-columns: repeat(7, 1fr);
        font-size: .8rem;
        border-left: .01rem gray solid;
        border-top: .01rem gray solid;
    }

    .days>div {
        border-bottom: .01rem gray solid;
        border-right: .01rem gray solid;
        padding: 14px;
        display: grid;
        grid-auto-columns: inherit;
        overflow: scroll;
    }

    .buttonCalendar {
        left: 15rem;
    }
    
    #add {
        left: 15rem;
    }
}