/* fieldset {
    border: none;
} */

fieldset {
    margin: .5rem;
}

form {
    display: flex;
    flex-flow: column wrap;
}

input,
label,
button {
    margin: .25rem .5rem;
}

input {
    padding: .25rem;
    height: 1rem;
    border: .05rem solid rgb(190, 190, 190);
}

button {
    height: 1.5rem;
    width: 4rem;
    border: .05rem solid rgb(190, 190, 190);
    align-self: center;
}