/** Big screen **/
@media only screen and (min-width: 1000px) {
    /* CALENDAR */
    .calendar {
    }

    .container {
        grid-template-rows: 3fr, 7fr;
        grid-template-columns: 3fr, 7fr;
        grid-template: 'clock header' 'todo calendar';
    }
    fieldset {
        height: 19rem;
        display: grid;
        justify-content: center;
        background-color: rgb(223, 223, 223);
    }

    .buttonCalendar {
        display: grid;
        /* position: fixed; */
        /* top: 16.1rem; */
        left: 9.6rem;
    }
    
    #add {
        display: grid;
        /* position: fixed; */
        /* top: 14.5rem; */
        left: 9.6rem;
    }
}