* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    grid-template: 
    'header header'
    'todo calendar' 1fr / 16rem;
}

header {
    grid-area: header;
    font-size: 1.5rem;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2rem;
}

.todo {
    grid-area: todo;
}

.calendar {
    grid-area: calendar;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 60%;
}

.month {
    height: 10vh;
    display: flex;
    background-color: palevioletred;
}

.weekdays {
    display: grid;
    background-color: palegoldenrod;
    grid-template-columns: repeat(7, 1fr);
}

.days {
    height: 70vh;
    display: grid;
    background-color: palegreen;
    grid-template-columns: repeat(7, 1fr);


}

ul {
    list-style-type: none;
}